@import '../shared';

.checkout-wrapper {
  // background: red;
  // display: flex;
  // flex-direction: column;
  .checkout-row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    // @media (min-width: $desktop) {
    //   background: red;
    // }

    .checkout-row-title {
      color: $text-color-secondary - 20;
    }

    &.checkout-row-final {
      margin: 0;
    }

  }
  .checkout-button {
    // position: relative;
    // left: 0;
    // right: 0;
    font-size: .90em;
    background: $button-primary;
    cursor: pointer;
    color: white;
    width: 130px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 25px;

    @media (max-width: $mobile) {
      position: fixed;
      height: 45px;
      font-size: 1.2em;
      width: 100vw;
      z-index: 5;
      bottom: 0;
      left: 0;
      border-radius: 0;
    }

    &:hover, &:focus {
      background: $button-primary-hover
    }
  }
}