@import '../shared';

.product-wrapper {
  width: 100%;
  height: auto;
  max-height: 275px;
  display: flex;
  margin: 30px auto;

  @media (max-width: $tablet) {
    max-height: 175px;
    margin: 20px auto;
  }
  .product-image {
    flex: .8;
    background: black + 200;
    height: 100%;
    max-height: 250px;
    max-width: 400px;
    border-radius: 10px 0 0 10px;

    @media (max-width: $tablet) {
      max-width: 272px;
      max-height: 175px;
      border-radius: 5px 0 0 5px;
    }
  }
  .product-info-wrapper {
    flex: 1;
    border-radius: 0 8px 8px 0;
    background: white;
    .product-info {
      box-sizing: border-box;
      height: 100%;
      padding: 30px 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $tablet) {
        padding: 20px 20px 20px 40px;
      }

      .product-info-upper {
        display: flex;
        justify-content: space-between;

        .product-title {
          font-size: 2.5em;
          color: $text-color-main;

          @media (max-width: $tablet) {
            font-size: 1.5em;
          }
        }
        .product-price {
          font-size: 1.3em;
          position: relative;
          top: 10px;

          @media (max-width: $tablet) {
            font-size: 1.1em;
            top: 5px;
          }
        }
      }
      .product-availability {
        margin: 10px 5px;
        font-size: .90em;
        color: $text-color-secondary;
        &.out-of-stock {
          color: #e74c3c;
        }

        @media (max-width: $tablet) {
          font-size: .75em;
        }
      }
      .product-action {
        width: 130px;
        background: $color-primary;
        border-radius: 20px;
        color: white;
        cursor: pointer;
        font-size: .75em;
        padding: 10px 10px;

        @media (max-width: $tablet) {
          bottom: 0px;
          padding: 8px;
          width: 120px;
          font-size: .7em;
        }

        &:hover, &:focus {
          background: $button-primary-hover
        }

        &:disabled {
          cursor: initial;
          background: $color-primary-disabled;
        }
      }
    }
  }
}

.cart-content {
  .product {
    display: flex;
    // background: ;
    flex-wrap: wrap;
    margin-bottom: 25px;
    .product-image-wrapper {
      width: 150px;
      // height: 125px;
      .product-image {
        width: 100%;
      }
    }
    .product-info-upper {
      height: 100px;
      margin-left: 10px;
      position: relative;
      .product-title {
        font-size: 1.25em;
      }
      .product-price {
        margin-top: 5px;
      }
      .remove-product-link {
        // TODO: switch back to cursor
        cursor: not-allowed;
        flex: .01;
        color: red - 10;
        position: absolute;
        bottom: 10px;
      }
    }
    .product-quantity {
      display: flex;
      margin: 10px auto 0 auto;
      border-radius: 60px;

      %quantity-button {
        //TODO: Re-implement this once the cart buttons work
        // cursor: pointer;
        cursor: not-allowed;
        height: 40px;
        width: 80px;
        flex: 1;
        background: $button-secondary;
        // TODO: Re-implement once cart buttons work
        // &:hover {
        //   background: $button-primary;
        //   * {
        //     fill: white;
        //   }
        // }
      }
      .minus-button {
        @extend %quantity-button;
        border-radius: 30px 0 0 30px;
        .button-icon-wrapper {
          margin: 0 auto 5px auto;
          width: 15px;
          .button-icon {
            width: 15px;
          }
        }
      }
      .product-quantity-input-wrapper {
        background: $button-secondary;
        height: 40px;
        flex: 1;
        .product-quantity-input {
          border: none;
          font: $app-font;
          font-size: 1em;
          margin-top: 2px;
          height: 34px;
          width: 100%;
          text-align: center;
        }
      }

      .plus-button {
        @extend %quantity-button;
        border-radius: 0 30px 30px 0;

        .button-icon-wrapper {
          margin: 2px auto 0 auto;
          padding-right: 10px;
          width: 15px;
          .button-icon {
            width: 15px;
          }
        }
      }
    }
  }
}