$app-font: Arial, Helvetica, 'sans-serif';
// Softer color than full on #000
$text-color-main: black + 40;
$text-color-secondary: darkgray + 15;

// Colors
$color-primary: rgb(82,148,212);
$color-primary-disabled: rgba(82,148,212, .5);


// Taken from color-picking sketch spec
$app-background: rgb(245, 246, 247);