$app-font: Arial, Helvetica, 'sans-serif';
// Softer color than full on #000
$text-color-main: black + 40;
$text-color-secondary: darkgray + 15;
// Taken from cart scene in sketch
$text-color-background: #BDBDBD;

// Colors
$color-primary: rgb(82,148,212);
$color-primary-disabled: rgba(82,148,212, .5);

// Buttons
$button-primary: $color-primary;
$button-primary-hover: rgb(50,123,195);
$button-secondary: rgb(245,245,245);
$button-secondary-disabled: rgba(245,245,245, .5);

// Taken from color-picking sketch spec
$app-background: rgb(245, 246, 247);

%divider {
  height: 0;
  // Resets the border so we don't have to clear everything
  border: none;
  border-top: 1.75px solid;
  border-color: black + 220;
}

// Breakpoints

$desktop: 1280px;